{% extends 'base.html' %}
{% block title %}
Image Processing
{% endblock title %}



{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>


{% endfor %}
{% endif %}
{% endwith %}

    <div class="ip">
    <iframe src="https://phoenixces-image-processing-streamlit-app-g0mtag.streamlit.app/?embedded=true" width = "100%" height = "800" style="border:none;"></iframe>
    </div>
  
  


    <footer id="footer">
      <div class="footer-top">
       
      </div>
  
      <div class="container">
     
        <div class="credits">
        <br>
  
          <a href="https://github.com/Phoenixces"><span style="font-weight:bold;"> Designed by KARUNA SHARMA & JASNA THOMAS</span></a>
          <br>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
{% endblock body %}