{% extends 'base.html' %}
{% block title %}
Dashboard & Onsite ML
{% endblock title %}



{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
    

  <!--<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

    $(document).ready(function(){
		 $("#div_refresh").load("http://localhost:8501/");
        setInterval(function() {
            $("#div_refresh").load("http://localhost:8501/");
        }, 3000);
    });

    function refreshPage(){
      window.location.reload();
  } 
  </script> -->

    <!-- <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav> -->

    <!--<button type="submit" onClick="refreshPage()">Refresh Button</button>-->

    <div class="ip" action="ML" method="post">
    <iframe src="https://phoenixces-mystreamlitapp-streamlit-app-xcbo46.streamlit.app/?embedded=true" width = "100%" height = "800" style="border:none;"></iframe>
    </div>
  
  


    <footer id="footer">
      <div class="footer-top">
       
      </div>
  
      <div class="container">
     
        <div class="credits">
        <br>
  
          <a href="https://github.com/Phoenixces"><span style="font-weight:bold;">Designed by KARUNA SHARMA</span></a>
          <br>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
{% endblock body %}