{% extends 'base.html' %}
{% block title %}
Onsite ML
{% endblock title %}



{% block body %}
    

  <!--<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>

    $(document).ready(function(){
		 $("#div_refresh").load("http://localhost:8501/");
        setInterval(function() {
            $("#div_refresh").load("http://localhost:8501/");
        }, 3000);
    });

    function refreshPage(){
      window.location.reload();
  } 
  </script> -->

    <!-- <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav> -->

    <!--<button type="submit" onClick="refreshPage()">Refresh Button</button>-->

    <div >
    <iframe src="https://phoenixces-mystreamlitapp-streamlit-app-xcbo46.streamlit.app/?embedded=true" width = "100%" height = "800" style="border:none;"></iframe>
    </div>
  
      <footer >
        <footer>
          <div class="container py-4">
            <div class="copyright">
              &copy; Copyright <strong><span>H2OWebMonitor</span></strong>. All Rights Reserved
            </div>
            <div class="creditss">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
              Designed by <a href="https://github.com/PrithvirajSawant?tab=overview&from=2023-02-01&to=2023-02-13"><span class="dp">Prithviraj Sawant</span></a>
            </div>
          </div>
          <!-- <div>
              <p>&copy; 2023 H2OWebMonitor [Water Quality Monitoring System]. All rights reserved.</p>
          </div> -->
      </footer>
    </footer>
  
  
{% endblock body %}